img {
    padding-left: 500px;
    position:relative;
}
p {
    background-color: green;
    max-width: 50%;
    max-height: 50%;
    mix-blend-mode: lighten;
    max-inline-size: inherit;
    min-block-size: unset;
}